<div class="carousel w-full">
    @for (slide of slides(); track slide.id; let i = $index) {
        <div [id]="slide.id" class="carousel-item relative w-full">
            <!-- <div class="hero bg-base-200 h-[calc(100vh-var(--navbar-height))]"
                [style.backgroundImage]="'url(' + slide.image + ')'"
                style="background-size: cover; background-position: center;"
            > -->
            <!-- utilizar div superior en vez de inferior al implementar imagenes a utilizar como fondo -->
            <div class="hero bg-base-200 h-[calc(100vh-var(--navbar-height))]">
                <div class="hero-content w-full max-w-6xl items-start justify-start text-left px-12 md:px-20">
                    <div class="max-w-md">
                        <div class="relative">
                            <h1 class="text-5xl font-bold">
                                {{ slide.title }}
                                <span class="absolute -left-4 top-0 w-1 bg-primary rounded h-full"></span>
                            </h1>
                        </div>

                        <p class="py-6">
                            {{ slide.subtitle }}
                        </p>
                        <a 
                            routerLink="/products" 
                            class="btn btn-primary">
                            {{ slide.buttonText }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                <button 
                    (click)="navigateToSlide(getPreviousSlideId(i), $event)" 
                    class="btn btn-circle hidden md:flex">
                    ❮
                </button>
                <button 
                    (click)="navigateToSlide(getNextSlideId(i), $event)" 
                    class="btn btn-circle hidden md:flex">
                    ❯
                </button>
            </div>
        </div>
    }
</div>
