@import "tailwindcss";
@plugin "daisyui";

:root {
  --navbar-height: 4rem;
}

.product-description {
  color: hsl(var(--bc) / 0.8);
}

.product-description h1,
.product-description h2,
.product-description h3,
.product-description h4,
.product-description h5,
.product-description h6 {
  color: hsl(var(--p));
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.product-description h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.product-description h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.product-description p {
  margin-bottom: 1rem;
  line-height: 1.75;
}

.product-description ul,
.product-description ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.product-description ul {
  list-style-type: disc;
}

.product-description ol {
  list-style-type: decimal;
}

.product-description li {
  margin-bottom: 0.5rem;
  line-height: 1.75;
}

.product-description strong {
  font-weight: 700;
  color: hsl(var(--bc));
}

.product-description em {
  font-style: italic;
}

.product-description a {
  color: hsl(var(--p));
  text-decoration: underline;
}

.product-description a:hover {
  color: hsl(var(--pf));
}

.product-description blockquote {
  border-left: 4px solid hsl(var(--p));
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: hsl(var(--bc) / 0.7);
}

.product-description img {
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  max-width: 100%;
  height: auto;
}

.product-description table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}

.product-description th,
.product-description td {
  border: 1px solid hsl(var(--bc) / 0.2);
  padding: 0.75rem;
  text-align: left;
}

.product-description th {
  background-color: hsl(var(--b2));
  font-weight: 700;
}
